@if (TempData["MsgErro"] != null)
{
    <div class="alert-danger">
        @TempData["MsgErro"]
    </div>
}

@if (TempData["MsgOk"] != null)
{
    <div class="alert-success">
        @TempData["MsgOk"]
    </div>
}

@model List<Aluno>

<div>
    <form method="get" asp-controller="Aluno" asp-action="PesquisaAluno">
        <input type="text" name="buscar" placeholder="Buscar aluno..." class="form-control" style="width:300px; display:inline-block;" />
        <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>

</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Matricula</th>
            <th scope="col">Cpf</th>
            <th scope="col">Data de Nascimento</th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any())
        {
            foreach(Aluno aluno in Model)
            {
                <tr>
                    <td>@aluno.Nome</td>
                    <td>@aluno.Matricula</td>
                    <td>@aluno.Cpf </td>
                    <td>@aluno.DataNascimento</td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="Editar">Editar</a>
                            <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="Excluir">Excluir</a>
                        </div>
                    </td>
                </tr>
            }
            
        }
        
     </tbody>
</table>

<div class="text-center">
    <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Adicionar"> Adicionar Aluno</a>
    <a class="btn btn-primary" type="button" asp-controller="Home" asp-action="Index"> Voltar</a>
</div>